.information__sort-menu__item {
    display: flex;
    margin: 0;
    padding: 0;
}

.information__sort-menu__item:nth-child(2) {
    margin: 0 0 0 auto;
    padding: 0;
}


.information__sort-menu__item:nth-child(n + 3) {
    margin: 0 0 0 10%;
    padding: 0;
}