.popup__item{
    display: flex;
    right: -10px;
    cursor: pointer;
}
.popup__item:hover .popup__text{
    border-bottom: #A82A1C 2px solid;
}
.popup__item:nth-child(1){
    position: absolute;
    bottom: 75px;
}
.popup__item:nth-child(2){
    position: absolute;
    bottom: 150px;
}
.popup__item:nth-child(3){
    position: absolute;
    bottom: 225px;
}
